//-------------BUTTONS---------------

$v-button__font:                      'roboto-example', $helvetica;
$v-button__color--background:         #65abd0;
$v-button__color--border:             #65abd0;
$v-button__color--text:               #fff;
//-----------------------------------