//  Variables

// Colors

$bgcolor:                   #ffffff;
$color_white:               #ffffff;
$color_gray:                #dcdcdc;
$primary_color:             #3f4147;
$secondary_color:           #a70c5d;
$secondary_color_darker:    #9f2865;
$light_color:               #9a9a9a;
$dark_color:                #454545;
$border_color:              #f4f4f4;


// Fonts

$primary_font: 'Calibre', sans-serif;

$font-name: '';


$time: 0.3s;